<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
公司名: {{data.name}}
<br>
<br>
经营规模(资产总额): {{company.assets}}
<br>
<br>
盈利能力(营业收入): {{company.income}}
<br>
<br>
盈利能力(净资产收益率): {{company.yield_rate}}
<br>
<br>
科技创新总含量: {{company.total_content}}
<br>
<br>
注册资本: {{company.capital}}
<br>
<br>
经营范围: {{company.range}}
<br>
<br>
简介: {{company.Introduction}}
<br>
<br>
主要产品类型: {{data.type}}
<br>
<br>
竞争力分数: {{data.score}}
<br>
<br>
产品总数: {{company.product_num}}
<br>
<br>
<!--判断返回的QuerySet是否为空，不为空循环打印产品内容，为空则打印“该公司没有产品”-->
{% if pro_detail %}
公司产品：
<br>
{% if company.fz_product != 0%}
<br>
<b>工业软件仿真产品（{{ company.fz_product }}）</b>
<br>
{% endif %}
    {% for obj in pro_detail %}
        {% if obj.pro_type == 1 %}
            • {{obj.pro_detail}}
<!--            （{{forloop.counter}}）{{obj.pro_detail}}-->
<br>
        {% endif %}
    {% endfor %}

{% if company.qr_product != 0%}
<b>工业软件嵌入式产品（{{ company.qr_product }}）</b>
<br>
<br>
{% endif %}
    {% for obj in pro_detail %}
         {% if obj.pro_type == 2 %}
            • {{obj.pro_detail}}
<!--            （{{forloop.counter}}）{{obj.pro_detail}}-->
<br>
        {% endif %}
    {% endfor %}


{% if company.kz_product != 0%}
<b>工业软件生产控制产品（{{ company.kz_product }}）</b>
<br>
<br>
{% endif %}
    {% for obj in pro_detail %}
         {% if obj.pro_type == 3 %}
            • {{obj.pro_detail}}
<!--            （{{forloop.counter}}）{{obj.pro_detail}}-->
<br>
        {% endif %}
    {% endfor %}

{% if company.jy_product != 0%}
<b>工业软件经营信息管理产品（{{ company.jy_product }}）</b>
<br>
<br>
{% endif %}
    {% for obj in pro_detail %}
         {% if obj.pro_type == 4 %}
            • {{obj.pro_detail}}
<!--            （{{forloop.counter}}）{{obj.pro_detail}}-->
<br>
        {% endif %}
    {% endfor %}

{% if company.pt_product != 0%}
<br>
<b>工业软件平台与系统产品（{{ company.pt_product }}）</b>
<br>
{% endif %}

    {% for obj in pro_detail %}
         {% if obj.pro_type == 5 %}
            • {{obj.pro_detail}}
<!--            （{{forloop.counter}}）{{obj.pro_detail}}-->
<br>

        {% endif %}
    {% endfor %}

{% else %}
<b>该公司没有产品</b>
{% endif %}
<br>
<br>
<div>
    <a href="./back/?guanjian={{guanjian}}&page={{page}}&option_type={{option_type}}" class="easyui-linkbutton" data-options="iconCls:'icon-back'">返回</a>
</div>
</body>
</html>